extends ../layout/master_layout.pug
block content
	h1 view thong tin chi tiet

	table.table
		tr
			th Name
			th Phone
		
		tr
			td=user.name
			td=user.phone
		a.btn.btn-primary(href="/users") home